<!--<h1>Title <%#= @feedback.title %></h1>-->
<h2>NOTES</h2>
<ul>
  <% @notes.each do |note| %>
    <li>
      <%= note.content %>(<%= note.created_at %>)
      <%= button_to 'Edit', edit_feedback_note_path(@feedback, note) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Feedback list', feedbacks_path %>
